

.center-container{
display: block;
}

.my-input-container{
    display: flex;
}   

.my-input-container > form > :first-child{
    border: orange 3px solid ;
}

.my-input-container > form :last-child{
    font-weight: 400;
    border:orange 3px solid;
}