.navbar-box-holder {

    padding: 0px !important;
    margin: 0px !important;
}

.navbar-box {

    color: orange !important;
    height: auto !important;
    margin: 0 !important;
    background-color: #333 !important;
    font-family: Arial, sans-serif;

}


.image-and-text-holder {
    display: flex !important;
    align-items: center !important;
    width: 50% !important;
}

.image-and-text-holder :last-child {
    padding-left: 1% !important;
    color: orange;
    font-size: 3vw !important;
    font-weight: bold;

}

.image-class {
    width: 10% !important;
    border-radius: 50% !important;

}

/* ProfilBild delen */

.mydropdown{
    position: relative;
    display: inline-block;
    right: auto;
    width: 10%;
}

.prof-image {
    width: 50% !important;
    border-radius: 50% !important;
    height: auto;

}

.dropdown:hover .dropdown-menu {
    display: block;
}

@media (max-width:1100px) {

    .my-button-changes {
        font-size: 2.2vw !important;
    }

    .image-class {
        width: 24% !important;
    }


    .mydropdown{
       
        width: 25%;
    }

}


@media (max-width:900px) {

    .image-class {
        width: 24% !important;
    }


    .mydropdown{
       
        width: 25%;
    }
 

    .image-and-text-holder :last-child {
        font-size: 4vw !important;
    }

    .my-button-changes {
        font-size: 3.2vw !important;
    }

}


@media (max-width:600px) {

    .image-class {
        width: 40% !important;
    }

    .mydropdown{
       
        width: 40%;
        display: flex;
        justify-content: right;
    }
    

    .image-and-text-holder :last-child {
        font-size: 6vw !important;
    }

    .my-button-changes {
        font-size: 4.8vw !important;
    }

}