body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mycontainer {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 100vh;
    min-height: 250px;
    width: 100%;

}

.leftside {
    background-color: gray;
    height: 100%;

}

.center {
    height: 100%;
    background-color: black;
    /*display: flex; */
    justify-content: center;
    padding-top:20px;
}

.rightside {
    height: 100%;
    background-color: gray;
}


@media (max-width:900px) {


    .leftside {
        display: none !important;
    }

    .rightside {
        display: none !important;
    }

    .center {
        height: 100%;
        width: 100%;
    }

    .mycontainer {
        display: block;
        min-height: 250px;
        width: 100vw;
        height: 100%;
    }


}