.name-box-container{

    width: 100%;
    display: flex;
    justify-content: center;
}

.name-box {
    margin-top: 1.5vw !important;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 4px solid orange;
    border-radius: 30px;
    padding: 5px 20px;
    width: fit-content;
    min-width: 200px;
    position: relative;
    width: 80%;
    margin:auto;
}

.name-box form button {
    margin-left: 5%;
    background-color: transparent;
    border: 3px solid orange;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.name-box form button:hover {
    background-color: orange;
    color: black;
}

.name-box img {
    width: 10%;
    height: auto;
    border-radius: 50%;
    border: 3px solid orange;
    margin-right: 10px;
}

.name-box span {
    color: white;
    font-size: 175%;
    font-weight: bold;
    transition:0.5s;
    cursor: pointer;
}

.name-box span:hover{
    color: orange;
    text-decoration: underline 5px solid blue;
    
}


@media (max-width:750px) {

    .name-box img {
        width: 15%;
    }

}

@media (max-width:450px) {

    .name-box img {
        width: 20%;
    }

    .name-box span{
        font-size: 15px;
    }

}