body {
    background-color: lightgrey !important
}


.about-container {
    background-color: black;
    display: flex;
}



/*! Del 1 Vänstra sidan */
.about-container-part-1{
    width: 50%;
}



.under-rubrik {
    margin-left: 8%;
    color: white;
    background-color: black;
    font-size: 55px;
    font-family: 'Courier New', Courier, monospace;
}


.social-media-container {
  /*  border: solid 2px yellow; */
    width: 80%;
    margin-left: 16%;
}

.social-media-rubrik {
    margin-left: 8%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    color: white;
}
.social-media-atag-container{
    transition: 0.5s;
}

.social-media {
    margin-left: 8%;
}

.social-media-image {
    border-radius: 50%;
    border: 3px solid darkblue;
    max-width: 80px;
}

.social-media:hover .social-media-image{
    opacity: 0.3;
}


.social-media-container h2 {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left:8%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}



/*! Del 2  Högra sidan*/

.about-container-part-2{
    width: 50%;
}


@media (max-width:1400px) {
    .social-media-image {
        max-width: 75px;
    }
    .social-media-rubrik {
        
        font-size: 40px;
 
    }
}

@media (max-width:1300px) {
    .social-media-container h2 {
      
        font-size: 25px;
    }

    .social-media-rubrik {
        font-size:30px;
    }
}


@media (max-width:880px) {

    .social-media-container h2 {
        font-size: 20px;
    }

    .social-media-rubrik {
        font-size:35px;
    }
    .social-media-image {
        max-width: 50px;
    }
}


@media (max-width:550px) {
    .social-media-rubrik {
        font-size:25px;
    }
}

@media (max-width:400px) {

    .under-rubrik {
    font-size:35px;
    }
    .social-media-rubrik {
        font-size:20px;
    }
}